h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
    background-color:yellow;
}
h2 {
    font-family: "Sofia";
}
 body {
     background-color: lightblue;
     font-family: 'Itim', cursive;
     font-size: 20px;
 }
